body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

header {
  background-color: grey;
  border: 5px solid red;
  border-radius: 5%;
}

header > h1 {
  color: green;
  /*display: inline-block;*/
  text-align: center;
}

#welcomeImage {
  margin-left: 25%;
  display: inline-block;
  height: 60%;
  width: 50%;
}

#wrapper {
  margin: 20px;
  background-color: blue;
}

#productImage {
  width: 90%;
  margin: 20px;
}

#description {
  background-color: pink;
  color: black;
  margin: 20px;
}

h3 {
  font-style: italic;
  font-size: 2em;
}

#forms {
  background-color: red;
}
