header  h1 {
  color: red;
  font-size: 40px;
  position: relative;

}

header {
  background-image: url('https://cottonbureau.com/img/tee-pattern_2x.png');
  display: flex;
}


body {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}
<<<<<<< HEAD

#wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;

}
   .checkout {
    background-color: black;
  }

    fieldset {
=======
fieldset {
>>>>>>> b0c0cae502c2dadd5764edf40d2f44f1dbb9ec5d
      background-color: rgba(0,255,0,0.4);

    }
section{
    display : inline-block;
    width : 48em;
    height : 40em;
    border-width : 0.1em;
    padding: 0 20%;
}

h4 {
  color: black;
  float: left;
  text-align: center;
}
p {
  font-size: 28px;
}

#forms {

  font-size: 28px;
  display: inline;
  width: 100%;
}

#description {
  background-color: pink;
  color: black;
  margin: 20px;
  float: left;
}

.icon {
  float: left;
}
.back {
  height: 65px;
  width: 40px;
  margin-left: 50px;
  display: inline
  border-radius: 60;
  border: 3px solid black;
  background-color: red;
  padding: 5px;

}

.float {
  float:left;
}

.reminder {
  background-color: rgba(26,51,215,0.4);
  padding-left: 50px;
  visibility: hidden;
}
.center {
  text-align: center;
}

.cartAside {
  float: right;
  /* height: 300px;
  width: 25%; */
}

.inCart {
  background-color: rgba(26,51,215,0.4);
  float: right;
  height: 100%;
  width: 25%;
  border: 20px solid black;
  border-radius: 10px;
  visibility: hidden;
}

.tBackground {
  background-image: url('https://cottonbureau.com/img/tee-pattern_2x.png');
  display: flex;
}

